* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Sofia Sans", serif;
  font-size: 1.2rem;
}

body {
  background-color: #faf9f6;
  color: #4a4a4a;
}

strong,
b {
  font-size: inherit;

  color: #a38165;
}

.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
}

.slick-prev:before,
.slick-next:before {
  color: #4a4a4a !important;
  font-size: 40px !important;
}

.slick-next {
  right: -50 !important;
}

.slick-prev {
  left: -50 !important;
}

/* Добавьте в ваш глобальный CSS */
.slick-slider {
  visibility: hidden;
}

.slick-initialized {
  visibility: visible;
}
