* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Sofia Sans", serif;
  font-size: 1rem;
}

body {
  background-color: #faf9f6;
  color: #4a4a4a;
}

strong,
b {
  font-size: inherit;

  color: #a38165;
}
